{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <hr>
  <p><strong>Dish type:</strong> {{ dish.dish_type.name }}</p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <p><strong>Price:</strong> {{ dish.price }}</p>
  <hr>
  <h1>
    Cooks
  </h1>
  <ul>
    {% for cook in dish.cooks.all %}
      <hr>
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>

{% endblock %}
