{% extends "base.html" %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center">
    <div class="g-transparent text-white">
      <h1 class="font-weight-bold">Restaurant Service Home</h1>
      <p>Welcome to Best Restaurant Ever!</p>
      <h2>The restaurant content</h2>
      <p>The restaurant has the following:</p>
      <ul>
          <li><strong>Dishes:</strong> {{ num_dishes }}</li>
          <li><strong>Cooks:</strong> {{ num_cooks }}</li>
          <li><strong>Dish Types:</strong> {{ num_dish_types }}</li>
      </ul>

      <p>You have visited this page
          {{ num_visits }} time{{ num_visits|pluralize }}.
      </p>
    </div>
  </div>
{% endblock %}
